<%-include("partials/header");-%>

<div>
    <h1 style="width:100%; text-align:center;" class="navbar-brand">COVID-19 LIVE UPDATES OF INDIA </h1>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">serial no.</th>
        <th scope="col">state</th>
        <th scope="col">TotalConfirmed</th>
        <th scope="col">TotalRecovered</th>
        <th scope="col">TotalDeaths</th>
     
      </tr>
    </thead>
    <tbody>
    <% var i = 0; %>
        <% data5.forEach( data => { i++; %>


      <tr>
        <th scope="row"><%= i %></5></th>
        <td><%= data.loc %></td>
        <td><%= data.totalConfirmed %></td>
        <td><%= data.discharged %></td>
        <td><%= data.deaths %></td>     
      </tr>
      <%})%>
    </tbody>
</table>

<%- include("partials/footer"); -%>